<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <title>
    <%=title%>
  </title>
  <% include partials/head %>
</head>

<body>

  <!--====== PRELOADER PART START ======-->
  <div class="preloader">
    <div class="loader">
      <div class="spinner">
        <div class="spinner-container">
          <div class="spinner-rotator">
            <div class="spinner-left">
              <div class="spinner-circle"></div>
            </div>
            <div class="spinner-right">
              <div class="spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== PRELOADER PART ENDS ======-->

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div>
          <a class="navbar-brand brand-logo" href="https://www.thinkmay.net" target="_blank">
            <img src="images/logo-thinkmay-black.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="https://www.thinkmay.net" target="_blank">
            <img src="images/logo-thinkmay-black.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">
              <%=welcome%> <span class="text-black fw-bold" id="WelcomeUsername"></span>
            </h1>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h3 class="welcome-sub-text">
              If you don't see any devices,
              <a target="_blank" href="https://calendly.com/thinkmay/thinkmay-booking-remote">let's book!</a>
            </h3>
          </li>
          <!-- <a href="/dashboard/vi"><img src="images/vietnam.png" width="32" height="32" /></a>
          <span style="padding: 5px;"></span>
          <a href="/dashboard/en"><img src="images/united-states.png" width="32" height="32" /></a>
        </ul> -->
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
      </div>
    </nav>
    <!-- partial -->

    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel" style="  overflow: scroll;">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">
            <%=sidebar1%>
          </p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>
            <%=sidebar_content1%>
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3">
            </div>
            <%=sidebar_content2%>
          </div>
          <p class="settings-heading mt-2">
            <%=sidebar2%>
          </p>
          <div class="color-tiles mx-0 px-4" style="display: flex;justify-content: flex-start;">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>

          <div class="color-tiles mx-0 px-4" style="display: flex;justify-content:space-around;">
            <div class="dropdown">
              <button style="font-size:5px" class="btn btn-warning dropdown-toggle" type="button"
                id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/resolution.png" height="32" width="32" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                <h6 class="dropdown-header">Resolution</h6>
                <a class="dropdown-item" name="resolution-setting">4K</a>
                <a class="dropdown-item" name="resolution-setting">2K</a>
                <a class="dropdown-item" name="resolution-setting">FullHD</a>
              </div>
            </div>
            <div class="dropdown">
              <button style="font-size:5px" class="btn btn-warning dropdown-toggle" type="button"
                id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/bitrate.png" height="32" width="32" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                <h6 class="dropdown-header">Remote control bitrate</h6>
                <a class="dropdown-item" name="bitrate-setting">ultra low</a>
                <a class="dropdown-item" name="bitrate-setting">low</a>
                <a class="dropdown-item" name="bitrate-setting">medium</a>
                <a class="dropdown-item" name="bitrate-setting">high</a>
                <a class="dropdown-item" name="bitrate-setting">very high</a>
                <a class="dropdown-item" name="bitrate-setting">ultra high</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a> -->
              </div>
            </div>
            <div class="dropdown">
              <button style="font-size:5px" class="btn btn-warning dropdown-toggle" type="button"
                id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/volume.png" height="32" width="32" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                <h6 class="dropdown-header">AudioCodec</h6>
                <a class="dropdown-item" name="audiocodec-setting">opus</a>
                <a class="dropdown-item" name="audiocodec-setting">mp3</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a> -->
              </div>
            </div>
            <div class="dropdown">
              <button style="font-size: 5px;" class="btn btn-warning dropdown-toggle" type="button"
                id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/video.png" height="32" width="32" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                <h6 class="dropdown-header">VideoCodec</h6>
                <a class="dropdown-item" name="videocodec-setting">vp9</a>
                <a class="dropdown-item" name="videocodec-setting">h264</a>
                <a class="dropdown-item" name="videocodec-setting">h265</a>
              </div>
            </div>

            <div class="dropdown">
              <button style="font-size: 5px;" class="btn btn-warning dropdown-toggle" type="button"
                id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/platform.png" height="32" width="32" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                <h6 class="dropdown-header">Platform</h6>
                <a class="dropdown-item" name="platform-setting">chrome</a>
                <a class="dropdown-item" name="platform-setting">gstreamer</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">
                <%=menu_title1%>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <input class="modal-btn3" type="checkbox" id="modal-btn3" name="modal-btn3" />
            <label for="modal-btn3">
              <i class="menu-icon mdi mdi-lightbulb-on-outline" style="font-size: 24px; width: 50px;"></i>
              Tutorial
            </label>
            <div class="modal3">
              <div class="modal-wrap">
                <div class="col-lg-11 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="tabs">
                            <a class="next-tab">
                              <button type="button" class="btn btn-inverse-info btn-fw"><img src="images/next.png"
                                  width="30"></button>
                            </a>
                            <a id="showTutorialState" class="modal__checkbox">
                              Don't show again
                            </a>
                            <input id="NativeApp" type="radio" id="tab1" name="tab-control" checked>
                            <input id="HowToUse" type="radio" id="tab2" name="tab-control">
                            <input id="ShorcutKey" type="radio" id="tab3" name="tab-control">
                            <ul>
                              <li title="NativeApp"><label for="tab1" role="button"><br><span>Native App</span></label>
                              </li>
                              <li title="HowToUse"><label for="tab2" role="button"><br><span>How to
                                    use</span></label></li>
                              <li title="ShorcutKey"><label for="tab3" role="button"><br><span>Shorcut
                                    key</span></label></li>
                            </ul>

                            <div class="slider">
                              <div class="indicator"></div>
                            </div>

                            <div class="content" style="overflow: hidden; min-height: 368px">
                              <section>
                                <div class="form-group row">
                                  <div class="col-sm-6">
                                    <img src="images/screen.png" alt="" width="384" style="padding-top: 35px;">
                                  </div>
                                  <div style="padding-left: 50px" class="col-sm-6">
                                    <p style="margin-top: 20%;">
                                      <b>Native App: </b> Thinkmay'd recommend you to download Thinkmay App.
                                    </p>
                                    <p>
                                      <b>Best experience:</b> Gives you the experience of using a real computer!
                                    </p>
                                    <button class="btn-download">Download App</button>
                                  </div>
                                </div>
                              </section>
                              <section>
                                <div class="form-group row">
                                  <div class="col-sm-6">
                                    <img src="images/Disconnect.jpg" alt="" width="384">
                                  </div>
                                  <div class="col-sm-6">
                                    <p style="margin-top: 50%">
                                      <b>Disconnect:</b> This action same as 'Sleep' your device
                                    </p>
                                    <p>
                                      <b>Terminate:</b> This action same as 'Shut down' your device
                                    </p>
                                  </div>
                                </div>
                              </section>
                              <section>
                                <div class="form-group row">
                                  <div class="col-sm-6" style="padding-left: 80px;">
                                    <img width="300" height="192" src="videos/Hidden_Mouse_x2.5.gif" />
                                    <p><b>Hidden Mouse:</b> Press it now to quickly hide your mouse and
                                      focus on your work</p>
                                  </div>
                                  <div class="col-sm-6" style="padding-left: 30px;">
                                    <img width="300" height="192" src="videos/Full_Screen_x2.5.gif" />
                                    <p><b>Full Screen:</b> Using your device with best experience</p>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn" />
            <label for="modal-btn">
              <i class="menu-icon mdi mdi-settings" style="font-size: 24px; width: 50px;"></i>
              Setting
            </label>
            <div class="modal1">
              <div class="modal-wrap">
                <div class="col-lg-11 d-flex flex-column" id="settingBlock">
                  <div class="row flex-grow">
                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="tabs">
                            <div class="content" style="overflow: hidden; min-height: 368px">
                              <div class="form-group row">
                                <div class="col-sm-6" style="padding-left: 92px;">
                                  <h4>Remote Core: </h4>
                                  <label class="control control--radio"> Chrome (not recommend)
                                    <input type="radio" name="remote" checked="checked" value="CHROME" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio"> Gstreamer (just available on
                                    <a href="https://www.thinkmay.net/#demo-modal">Thinkmay App</a>)
                                    <input type="radio" name="remote" value="GSTREAMER" id="remoteCtrler2" disabled />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <h4>Resolution: </h4>
                                  <label class="control control--radio"> 4K (not recommend)
                                    <input type="radio" name="res" value="4K" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio"> 2K (not recommend)
                                    <input type="radio" name="res" value="2K" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio"> Full HD
                                    <input type="radio" name="res" value="FullHD" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <h4>VideoCodec: </h4>
                                  <label class="control control--radio"> vp9
                                    <input type="radio" name="video" value="VP9" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio"> h264
                                    <input type="radio" name="video" value="H264" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio"> h265 (just available on <a
                                      href="https://www.thinkmay.net/#demo-modal">Thinkmay App</a>)
                                    <input type="radio" name="video" value="H265" id="optionsVideo3" disabled />
                                    <div class="control__indicator"></div>
                                  </label>
                                </div>
                                <div class="col-sm-6" style="padding-left: 80px;">
                                  <h4>Remote control bitrate: </h4>
                                  <label class="control control--radio">Ultra low
                                    <input type="radio" name="bitrate" value="ULTRA_LOW_CONST" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio">Low
                                    <input type="radio" name="bitrate" value="LOW_CONST" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio">Medium (Recommend)
                                    <input type="radio" name="bitrate" value="MEDIUM_CONST" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio">Very high
                                    <input type="radio" name="bitrate" value="HIGH_CONST" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio">Ultra high
                                    <input type="radio" name="bitrate" value="ULTRA_HIGH_CONST" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <h4>AudioCodec: </h4>
                                  <label class="control control--radio">opus
                                    <input type="radio" name="audio" checked="checked" value="OPUS" />
                                    <div class="control__indicator"></div>
                                  </label>
                                  <label class="control control--radio">mp3
                                    <input type="radio" name="audio" disabled="disabled" value="MP3" />
                                    <div class="control__indicator"></div>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <input class="modal-btn2" type="checkbox" id="modal-btn2" name="modal-btn2" />
            <label for="modal-btn2">
              <i class="menu-icon mdi mdi-desktop-classic" style="font-size: 24px; padding-left: 34px;"></i>
              Bring your own computer
            </label>
            <div class="modal2">
              <div class="modal-wrap">
                <div class="col-lg-12 d-flex flex-column" style="margin-right: 0;">
                  <div class="row flex-grow">
                    <div class="col-12 col-lg-4 col-lg-12 stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="tabs">
                            <div class="content" style="overflow: hidden;">
                              <form class="forms-sample">
                                <div class="form-group row" id="ClusterForm">

                                </div>
                                <div style="text-align: center;">
                                  <button id="submitClusterCtrler" class="btn btn-primary me-2" style="min-width: 10%"
                                    type="button">
                                    Register
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item nav-category">
            <%=nav_item1%>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/setting">
              <i class="mdi mdi-account-settings menu-icon"></i>
              <span class="menu-title" style="font-weight: 700; font-size: 14px;">
                <%=menu_title2%>
              </span>
            </a>
          </li>

          <li class="nav-item" id="logout">
            <a class="nav-link">
              <i class="menu-icon mdi mdi-logout"></i>
              <span class="menu-title" style="font-weight: 700; font-size: 14px;">
                <%=menu_title3%>
              </span>
            </a>
          </li>
        </ul>
      </nav>




      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="overflow-y: scroll;">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body pb-0">
                                <div class="row" id="slaves">
                                  <h2 style="color: #aebb00"><b>
                                      <%=main_panel_title1%>
                                    </b></h2>
                                  <div class='w-100'></div>
                                  <div class="row" id="slavesInUses"></div>
                                  <div class='w-100 line'></div>
                                  <!-- asdasd -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body pb-0">
                                <div class="row" id="slaves">
                                  <h2 style="color: #007bff"><b>
                                      <%=main_panel_title2%>
                                    </b></h2>
                                  <div class='w-100'></div>
                                  <div class="row" id="availableSlaves"></div>
                                  <div class='w-100 line'></div>
                                  <!-- asdasd -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 d-flex flex-column">
                        <div class="row flex-grow">

                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                      <h4 class="card-title card-title-dash">
                                        <%=right_body_title%>
                                      </h4>
                                    </div>
                                    <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                                    <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">
                                      <%=main_panel_title3%>
                                    </h4>
                                    <h5 class="card-subtitle card-subtitle-dash">
                                      <%=main_panel_title4%>
                                    </h5>
                                  </div>
                                  <div id="performance-line-legend"></div>
                                </div>
                                <div class="chartjs-wrapper mt-5">
                                  <canvas id="performanceLine"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex flex-column">
                        <div id="downloadApp" class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="chartjs-size-monitor">
                                      <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                      </div>
                                      <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                      </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                      <h4 class="card-title card-title-dash">
                                        Download App Desktop For enhance experience
                                      </h4>
                                    </div>
                                    <a target="_blank" href="https://www.thinkmay.net/#demo-modal">
                                      <button type="button" class="btn btn-outline-secondary">
                                        <i class="ti-download"></i>
                                      </button>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="footer">
                  <div class="d-sm-flex justify-content-center justify-content-sm-between">

                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a target="_blank"
                        href="https://www.thinkmay.net/">ThinkMay</a></span>
                  </div>
                </footer>
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->



      <% include partials/dependencies %>
        <script type="module" src="javascripts/pages/dashboard.js"></script>
</body>

</html>