<!DOCTYPE html>
<html lang="en" style="overflow: hidden;height: auto;">

<head>
    <!-- Required meta tags -->
    <title>
        <%=title%>
    </title>
    <% include partials/head %>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div>
                    <a class="navbar-brand brand-logo" href="https://www.thinkmay.net" target="_blank">
                        <img src="images/logo-thinkmay-black.png" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="https://www.thinkmay.net" target="_blank">
                        <img src="images/logo-thinkmay-black.png" alt="logo" />
                    </a>
                </div>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">
                                <%=menu_title1%>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <%=nav_item1%>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/setting">
                            <i class="mdi mdi-account-settings menu-icon"></i>
                            <span class="menu-title">
                                <%=menu_title2%>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" id="logout">
                        <a class="nav-link" href="/logout">
                            <i class="menu-icon mdi mdi-logout"></i>
                            <span class="menu-title">
                                <%=menu_title3%>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" style="overflow-y: scroll;">
                    <div class="row">
                        

                        <div class="col-md-10 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Change Language</h4>
                                    <p class="card-description">
                                        Change Language of Dashboard
                                    </p>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Language</label>
                                        <div class="col-sm-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" id='langEN'>
                                                    English
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" id='langVN'>
                                                    Tiếng Việt
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="card-title">Your ThinkMay information</h4>
                                    <p class="card-description">
                                        Change your information on this application
                                    </p>
                                    <form class="forms-sample">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Username</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="usernameCtrler"
                                                    placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Fullname</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="fullnameCtrler"
                                                    placeholder="Fullname">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Job</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="jobsCtrler"
                                                    placeholder="Job">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Phone Number</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="phonenumberCtrler"
                                                    placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label"
                                                for="exampleSelectGender">Gender</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="genderCtrler">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Date Of Birth</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" id="dobCtrler"
                                                    value="2018-07-22">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Avatar</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="avatarCtrler"
                                                    placeholder="url">
                                            </div>
                                            <!-- <input type="file" name="img[]" class="file-upload-default">
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control file-upload-info" accept=".jpg, .png" multiple />
                                            </div> -->
                                        </div>
                                        <button id="submitChangeInfoCtrler" class="btn btn-primary me-2"
                                            type="button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Update Password</h4>
                                    <p class="card-description">
                                        Update or change your password
                                    </p>
                                    <form class="forms-sample">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Old Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="oldPasswordCtrler"
                                                    placeholder="Old password (leave empty if you have signed up with google)">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">New Passowrd</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="newPasswordCtrler"
                                                    placeholder="New password">
                                            </div>
                                        </div>
                                        <button id="submitChangePasswordCtrler" class="btn btn-primary me-2"
                                            type="button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <footer class="footer">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                                    <b>Version</b> 1.0.0
                                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                                        <strong>Copyright &copy; 2014-2021 <a href="https://www.thinkmay.net"
                                                target="_blank">ThinkMay</a>.</strong> All rights reserved..</span>
                                    <!-- content-wrapper ends -->
                                    <!-- partial:partials/_footer.html -->
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include partials/dependencies %>
        <script type="module" src="javascripts/pages/setting.js"></script>
</body>

</html>